<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.default.min.css">
    <style>
        form {margin: 10px 0px;}
        table, th, td {border: 1px solid black;}
        th, td {padding: 3px;}
        ul:before{
            content:attr(aria-label);
            font-size:120%;
            font-weight:bold;
            margin-left:-15px;
            margin-top: 200px;
        }
        .selectize-control {
            display: inline-block;
            width: 200px;
            margin-left: 10px;
            vertical-align: middle;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script language="javascript" type="text/javascript">
        function removeSpaces(string) {return string.split(' ').join('');}
    </script>
</head>

<body>
    <header>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1>HKPL Tools</h1>
            <a href="/user_guide" style="text-decoration: none; font-size: 1.5em; color: #666; margin-right: 10px;">?</a>
        </div>
        <!-- sgisdghl -->
    </header>
    <form action="/" method="post">
        BIB:
        <input type="text" name="bib" placeholder="e.g. 003377312" onblur="this.value=removeSpaces(this.value);">
        <input type="submit" value="Save Book">
        <span>{{save_msg}}</span>
    </form>
    
    <a href="{{('Saved_Books')}}">View Saved Books</a>

    <form action="/" method="POST">
        <span>{{lastupdate}}</span>
        <input type="submit" value="Update Copies"><span> {{update_msg}}</span>
    </form>

    <form action="/" method="POST">
        <label style="font-weight: bold;">Check Library</label>
        <select name="library" class="selectize">
            <option value="" disabled selected>Select library</option>
            {%for library in libraries%}
            <option value="{{library.englishName}}" {% if selection == library.englishName  %} selected {% endif %}>{{library.libraryNumber}}. {{library.englishName}} Library</option>
            {%endfor%}
        </select>
        <input type="submit" value="Confirm"> 
    </form>

    <table>
        <caption>{{library_msg}}</caption>
        <tr>
            <th>book title</th>
            <th>call number</th>
            <th>status</th>
            <th>collection</th>
        </tr>
        {%for copy in copies%}
        <tr>
            <td>{{copy[0]}}</td>
            <td>{{copy[1]}}</td>
            <td>{{copy[2]}}</td>
            <td>{{copy[3]}}</td>
        </tr>
        {%endfor%}
    </table>
    <span>{{error_msg}}</span>
    
    <ul style="margin-top: 400px;" aria-label="Todo">
        <li>extract getLibraryID function</li>
        <li>add new ssp library</li>
        <li>soft delete</li>
        <li>sperate route for update/check library</li>
        <li>-------------</li>
        <li>multiple input</li>
        <li>fix: if update failed for some book, last update is misleading</li>
        <li>last update sometimes get from copies table, sometimes timenow</li>
        <li>book/copies id reset</li>
        <li>log successful update times as default display</li>
        <li>db name use var</li>
        <li>db connection in app?</li>
        <li>handle 0 checkbox submit</li>
        <li>central libray not working (also art one)</li>
        <li>add table to store deleted books</li>
        
    </ul>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            $('.selectize').selectize();
        });
    </script>
</body>

</html>
